@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Fustat";
  background-color: #fff7e4;
  font-optical-sizing: auto;
  font-style: normal;
  /* height: 4000px; */
}
